// ==========================================================================
// $Shame
// @see http://csswizardry.com/2013/04/shame-css/
// Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
// ==========================================================================

// ==========================================================================
// because hacks happen.
//
// be very specific about what each piece of code is doing, and
// how to better fix it later
// ==========================================================================

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.
//       Even better, get tech-debt story in which you can dedicate actual sprint time to it.

// Example:
// ---------------
   // Nav specificity fix.

   // Someone used an ID in the header code (`#header a{}`) which trumps the
   // nav selectors (`.site-nav a{}`). Use !important to override it until I
   // have time to refactor the header stuff.

   // .site-nav a{
   //     color:#BADA55!important;
   // }

$header_color: #0A68A8;
$footer_color: #43ADf5;
$button_color: #198EDD;
$font_color: #084670;

$footer_size: 100px;
$c_height: 100%;
$font_family: 'Quarto', serif;
$brandon: "brandon-grotesque", sans-serif;

@mixin brandon_reg{
	font-family: "brandon-grotesque", sans-serif;
	font-weight:400;
	font-style: normal;
}

@mixin brandon_bold{
	font-family: "brandon-grotesque", sans-serif;
	font-weight:700;
	font-style: normal;
}

@mixin quarto_med{
	font-family: "Quarto A", "Quarto B";
	font-style: normal;
	font-weight: 400;
	letter-spacing: .035em;
}

@mixin quarto_med_it{
	font-family: "Quarto A", "Quarto B";
	font-style: italic;
	font-weight: 400;
	letter-spacing: .035em;
}

@mixin quarto_bold{
	font-family: "Quarto A", "Quarto B";
	font-style: normal;
	font-weight: 700;
	letter-spacing: .035em;
}

@mixin quarto_bold_it{
	font-family: "Quarto A", "Quarto B";
	font-style: italic;
	font-weight: 700;
	letter-spacing: .035em;
}


body{
	height:100%;
	font-size:16px;
	font-size:100%;
	color: $font_color;
	@include brandon_reg;
	letter-spacing:.015em;
}

h1, h2, h3, h4{
	line-height:1.125;
}

p{
	font-size:16px;
	line-height:1.35;
}

h1{
	font-size:72px;
	line-height:1.125;
}

h2{
	font-size:36px;
	line-height:1.125;
	letter-spacing: .015em;
}

#main{  //include main?
	height:100%;
}

#main{
	margin-bottom: -$footer_size;
}

#main:after{
	content:"";
	display:block;
	height:$footer_size;
}

.container{
	// min-height:700px;

	.row{
		margin-bottom:0;

	}

	h2{
		text-align:center;
	}

}

.logo{
	width:85%;
	margin:20px auto;

	img{
		max-width:100%;
	}
}

header{
	background-color: $header_color;
	width:20%;
	position:fixed;
	height:100%;
	color:white;
	//min-width:227px;
	//z-index:10;

	nav.main-navigation{

		ul{
			margin-top:50px;
			margin-left:15px;
			li{
				float:none;
				display:inline;

				ul{
					position:relative;
					float:none;
					left:0;
					margin:0;
					margin-left:20px;
					box-shadow:none;
					//display:none;
					top:0;

					li{
						a{
							font-size:20px;
							@include brandon_reg;
						}

						&.current-menu-item{
							a{
								color:$footer_color;
							}
						}
					}
				}

				a{
					color:white;
					@include brandon_reg;
					font-size:36px;

					&:hover, &.active{
						opacity:.7;
					}
				}
			}
		}
	}
}

#main, footer{
	padding-left:20%;
}

// Panels

.greeting{
	display:table;
	width:100%;

	h1, .greeting_para{
		text-align:center;
	}

	h1{
		@include brandon_bold;
	}

}

.greeting_para{
		width:80%;
		margin:0 auto;
		font-size:24px;

		p{
		text-align:center;
		font-size:24px;
		margin:0;
		// padding-bottom:2em;
		}
	}

.home_icons{
		li{
			display:inline;
		}
	}

.down{
	text-align:center;
	width:100%;
	position:absolute;
	bottom:1em;

	a{
		transition:all .2s ease-in-out;
	}

	a:hover{
		opacity:.6;

	}
}

.panel_banner{
	background-size: cover;
	background-position:center center;

	height:200px;
	position:relative;
}

.banner_overlay_color{
	background-color: rgba(155,155,155, .09);
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
}

.banner_overlay_text{
	color:white;
	display:table;
	width:100%;
	height:100%;
	position:relative;
	z-index:3;

	.content{
		display:table-cell;
		vertical-align:middle;
		height:100%;
		text-align:center;
		width:90%;
		margin:0 auto;

		h2{
			width:80%;
			margin:0 auto;
			@include brandon_bold;
		}
	}
}

.separator{
	//margin-bottom:20px;
	// background-image:url('img/separator_img.png');
	// background-repeat:repeat-x;
	// height:5px;

	.line{
		width:40%;
		// margin:0 auto;
		//border-bottom:4px dashed $header_color;
		margin:35px auto;
		background-image:url('img/separator_img.png');
		background-repeat:repeat-x;
		height:5px;
	}
}

h1.bc {
    position: absolute;
    top: 20px;
    font-size: 24px;
    margin-left: 20px;
    @include brandon_bold;
}

//Grids
*[class^='grid_block']{
	//border-top:1px solid $header_color;
	border-bottom:1px solid $header_color;
	text-align:center;
	overflow:hidden;

	&.six.columns{
		width:50%;
		margin:0;
	}

	&.four.columns{
		margin:0;
		width:33.333%;
		height:400px;
	}

	.content{
		width:90%;
		margin:1em auto;

		img{
		max-width:60%;
		height:auto;
		}

		p{
			margin-bottom:70px;
		}
	}

	
}

#services .grid_block-1,
#services .grid_block-2,
#services .grid_block-3{
	border-top:1px solid $header_color;
}

// *[class^='grid_block']:nth-child(2),
*[class^='grid_block']:nth-child(5), 
#services .grid_block-2,
#services .grid_block-8{
	border-left: 1px solid $header_color;
	border-right: 1px solid $header_color;
}

*[class^='grid_block']:nth-child(3),
*[class^='grid_block']:nth-child(6){
	//border-right:1px soild $header_color;
}

*[class^='grid_block']:nth-child(n+4),
#services .grid_block-4,
#services .grid_block-5,
#services .grid_block-6{
	//border-bottom:1px solid $header_color;
}

*.read-more{
	position:absolute;
	bottom:15px;
	right:-300px;
	border:1px solid white;
	//background:inherit;
	//color:inherit;
	padding:5px 10px;
}

//================================================

//Button

.button{
	text-align:center;
	margin:65px 0;

	&.lg .btn{
		font-family:$brandon;
		font-size: 36px;
		padding: 10px 40px;
	}

	&.sm .btn{
		font-family:$brandon;
		font-size:24px;
		padding: 10px 15px;
	}

	.btn{
		color:white;
		background:$button_color;
	}

}

a.btn{
	//padding:.5em 1em;
	border-radius:5px;
	box-shadow: 0 6px $header_color;
	position:relative;
	//display:block;

	&:hover{
		box-shadow: 0 4px $header_color;
    	top: 2px;
	}
}

//================================================

//Regulations

.rp_columns {

	margin:5em 0;

	.first{
		text-align:center;
	}

	.second{
	border-left: 1px solid $header_color;
	height:100%;
	}

	.content{
		width:90%;
		margin:0 auto;

		p{
			font-size:20px;
		}
	}

	.first {
		.content {
    		 //transform: translateY(40%);
		}
		p{
			font-size:20px;
		}
	}	
}

// .first .content {
//     transform: translateY(50%);
// }

//=================================================

//Services panel

#services{
	a *[class^="grid_block"]{
		color:$font_color;
		overflow:hidden;

		&:hover {
			background:$header-color;
			color:white;
			transition:all .2s ease-in-out;

			img{
				-webkit-filter: grayscale(100%) 
          		brightness(200%)
          		contrast(200%);
  				filter: grayscale(100%) 
          		brightness(200%)
          		contrast(200%);
			}

			.read-more{
			right:10px;
			color: white;
			background: $header-color;
			transition:all .2s ease-in-out;

				&:hover{
					background:$font_color;
					//right:10px;
				}
			}
		}

		&:active{
			color:$font_color;
		}
	}

	*[class^="grid_block"]{

		cursor:pointer;

		h3{
			font-size:17px;
			letter-spacing:1px;
			text-transform:uppercase;
		}

		&:hover{
			// background:$header_color;
			// color:white;

			img{
				// -webkit-filter: grayscale(100%) 
    //       brightness(200%)
    //       contrast(200%);
  		// filter: grayscale(100%) 
    //       brightness(200%)
    //       contrast(200%);
		}}


	}
}

//Mangement panel

#management{

	a:hover [class^="grid_block"]{
		background-color:white;
		color:$font-color;
		transition:all .2s ease-in-out;

		.read-more{
			right:10px;
			color: white;
			background: $header-color;
			transition:all .2s ease-in-out;

			&:hover{
				background:$font_color;
			}
		}
	}

	a:active [class^="grid_block"]{
		background:$header_color;
	}

	*[class^="grid_block"]{
		border:none;
		height: 790px;
		color:white;

		// &:hover{
		// 	background-color:white;
		// 	color:$font-color;
		// }

		img{
			border-radius:50%;

		}

		h3, h4{
			margin:0;
		}

		h3{
			margin:10px 0;
		}

		p{
			margin-top:15px;
		}

		h3, h4, p{
			text-align:left;
		}

		h4{
			text-transform:none;
		}

		.read-more{
			text-align:right;

			// a{
			// 	color:white;

				&:hover{
				//text-decoration:underline;
				// color: inherit;
				// background: inherit;
				}	
			// }

		}
	}

	.grid_block-1{
		background-color:#198EDD;

		
	}

	a:hover .grid_block-1{
			//border-top: 1px solid #198EDD;
			//border-bottom: 1px solid #198EDD;
	}

	.grid_block-2{
		background-color:#1499F3;
		
		
	}

	a:hover .grid_block-2{
			//border-top: 1px solid #1499F3;
			//border-bottom: 1px solid #1499F3;
		}

	.grid_block-3{
		background-color:#43ADF5;
	}

	a:hover .grid_block-3{
			//border-top: 1px solid #43ADF5;
			//border-bottom: 1px solid #43ADF5;
		}

}

//================================================

//Home panel

.container#home{
	// min-height:700px;
	display:table;

	.button{
		margin-top:5em;
		display:inline;
		padding-right:30px;
		
	}

	.content{
		display:table-cell;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		text-align:center;
	}
}

//================================================

//Client panel

#clients{
	text-align:center;

	.content{
		padding:12% 0;
	}

	.map{
		width:95%;
		margin:20px 0;
	}

	h2{
		@include brandon_bold;
		width:80%;
		margin:30px auto;
	}

	p{
		font-size:20px;
		width:80%;
		margin:50px auto;
	}
}

//================================================

//Contact

#contact{

	.content{
		padding:6% 0;
	}

	h2{
		width:80%;
		margin:0 auto;
		@include brandon_bold;
	}

}

//Interior

.spi_columns{
	margin:5em 0;

	.content{

	}

	.first{
		border-right:1px solid $header-color;

		.content{
		width:90%;
		margin:0 auto;

			p{
				font-size:20px;
			}
		}
	}

	.second{

		text-align:center;

		.content{
			width:95%;
			margin:0 auto;
		}

		p{
			font-size:24px;
		}
	}

	.four.columns{
		width:33.3333%;
		margin:0;
	}

	.eight.columns{
		width:66.6667%;
		margin:0;
	}
}

.home.interior {
	h2{
		@include brandon_bold;
		padding-top:6%;
	}

	p{
		max-width:60%;
		margin:0 auto;
		font-size:20px;
		text-align:left;
	}

}
#tpi_grid{

	*[class^="grid_block"]{
		text-align:center;
		border-top:1px solid $header_color;
		border-bottom:1px solid $header_color;

		&:nth-child(even){
			border-left:1px solid $header_color;
			border-right:1px solid $header_color;
		}

		p{
			text-align:left;
		}
	}
}

#connect{

	margin:5em 0;

	h2{
		font-size:24px;
		width:80%;
		margin:0 auto;
		margin-bottom:5em;
	}

}

.error404 #home{
	text-align:center
}

//Contact form

.contact-form, 
.post-password-form{
	width:80%;
	margin:30px auto;
	color:white;
	border-radius:5px;
	text-align:left;
	background:$header_color;
		border-radius:5px;
		padding:10px;

	p{
		margin:20px 0 !important;
		margin-left:1% !important;
		width:80%;
		font-size:20px !important;
	}

	form{
		
	}

	input, textarea{
		background:white;
		color:$header-color;
		width:80%;
		margin:0 10px;
		border-radius:5px;
	}

	input[type='submit']{
		width:100px;
		margin:20px 10px;
		//text-align:left;

		&:hover{
			background:$font_color;
			color:white;
		}
	}
}

//Footer

footer .container{
	height:auto;
}

footer{
	background-color: $footer_color;
	color:white;
	// height:$footer_size;
	// position:absolute;

	h3{
		margin-bottom:5px;
		font-size:24px;
		@include brandon_reg;
	}

	ul{
		li{
			margin-left:20px;
		a{
		color:white;
		font-size:18px;

			&:hover{
				opacity:.7;
			}
		}

	}
	}
	.address, .phone{
		display:table;
		margin:20px 0;

		.label{
			padding-right:15px;
		}

		p{
			display:table-cell;
		}
	}



	.copyright{
		text-align: center;
		span{
			display:block;
			width:100%;
		}
		a{
			color:white;

			&:hover{
				text-decoration:underline;
			}
		}

		img{
			padding-right:15px;
			max-width:50px;
		}
	}
}

.the_content{
	text-align:left;
	padding-bottom:50px;
	a{
		color:$footer_color;
	}

	a:hover,
	a:active,
	a:focus{
		color:$header_color;
		text-decoration:underline;
	}
}

//================================================

//Accessiblity

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//================================================

//Responsive helpers

.desktop-hide{
	display:none;
	visibility:hidden;
}

//================================================


.logo.desktop-hide img{padding-top:10px;}

#wpadminbar{
	position:fixed !important;
	bottom:0;
}

.mobile-nav-trigger{
	margin:10px;
}

.sidr-close{
	font-size:28px;
	@include brandon_reg;
	text-align:right;
	cursor:pointer;
	padding-right:15px;

	&:hover, &:active{
		opacity:.7;
	}
}

.sidr{
	background: $header_color !important;
	box-shadow:none !important;

	.sidr-inner{
		margin-left:15px;
		margin-top:15px;
	}

	a{
		color:white;
		font-size:36px;
		@include brandon_reg;

		&:hover{
			opacity:.7;
		}
	}
}

.sidr ul {
	border-bottom:none !important;
	border-top:none !important;
}

.sidr ul li{
	border:none !important;
	border-top:none !important;
	border-bottom: none !important;
}

.sidr .sub-menu a{
	font-size:24px;
}

.sidr ul li:hover>a, 
.sidr ul li:hover>span, 
.sidr ul li.active>a, 
.sidr ul li.active>span, 
.sidr ul li.sidr-class-active>a, 
.sidr ul li.sidr-class-active>span{
	border:none !important;
	box-shadow:none !important;
}

@media only screen and (max-width:1446px){
	.site-footer{
		.copyright{
			text-align: center;
			span{
				display:block;
				width:100%;
			}
		}
	}
}

@media only screen and (max-width:950px) and (min-width: 768px){
	
	header{
		min-width:170px;
	}

	header nav.main-navigation ul li a{
		font-size:28px;
	}

	.greeting h1{
		font-size:66px;
	}
	.main-navigation ul ul a{
		width:auto;
	}
}

@media only screen and (max-width: 767px) {
	*[class^="grid_block"]{

		&.four.columns,
		&.six.columns{
		width:100%;
		border-left:none;
		border-right:none;
		border-top:1px solid $header_color;
		border-bottom:none;
		}
	}

	.main-navigation ul ul a{
		width:auto;
	}

	h1.bc{
		position:relative;
		padding-bottom: 50px;
    	margin-top: 0;
	}

	 #services .grid_block-2 {
	 	border-left:none;
	 	border-right:none;
	 }

	 *[class^='grid_block']:nth-child(n+4), 
	 #services .grid_block-4, 
	 #services .grid_block-5, 
	 #services .grid_block-6{
	 	border-top:1px solid $header-color;
	 	border-bottom:none;
	 	border-right:none;
	 	border-left:none;
	 }

	#main, footer{
		padding-left:0;
	}

	header{
		left:9999px;
		transition:all .2s ease-in-out;
	}

	.desktop-hide{
		display:block;
		visibility:visible;
	}

	.rp_columns .first .content {
    	transform: translateY(0);
    	margin:20px 0;
	}
	.logo{
		text-align:center;
	}

	.rp_columns{

		.second{

			border-left:none;

		}
	}

	.spi_columns{

		.first{

			border-right:none;

		}
	}

	.button{
		&.sm{
			.btn{
				font-size:16px;
			}
		}

		&.lg{
			.btn{
				font-size:26px;
			}
		}
	}

}

@media only screen and (max-width: 480px){
	
	h1{
		font-size:60px;
	}

	h2{
		font-size:28px;
	}

	footer{
		// text-align:center;
	
		.footer_nav{
			text-align:center;

			ul li{
				margin-left:0;
			}
		}

		.address .label,
		.phone .label{
			margin:10px 0;
		}

		.address p, .phone p{
			display:block;
			margin:0;
		}

		.address, .phone{
			display:block;
			text-align:center;
		}

		.copyright img{
			padding-right:0;
		}
}

.contact-form{

	input, textarea{
		width:95%;
	}
}

}


